<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Username" connectionString="asd"/>
    <add name="Password" connectionString="pass"/>
    <add name="Database" connectionString="db"/>
    <add name="Server" connectionString="asdasd"/>
  </connectionStrings>
</configuration>